*{
    font-size: 2vh;
    font-family: cursive;
}

h1{
    height: 5%;
}

table {
    font-family: 'Comfortaa', cursive;
	color: #3d1718;
    border-collapse: separate;
    border-spacing: 3px;
    background: black;
    box-shadow: 0 10px 10px grey;
    border-radius: 5px;
    margin: 20px;
    margin-left: 0px;
}

td {
    background: white;
    width: 4vh;
    height: 4vh;
    border-radius: 3px;
}

td b {
    display: block;
    position: absolute;
    background-color: transparent;
    font-size: 2vh;
    color: #555;
    margin: -2px auto auto 1px;
}

td input[type=text]{
    text-align:center;
    text-shadow: 0 0 0 black;
    /*color: transparent;*/
    width:98%;
    height: 100%;
    border:none;
    background: transparent;
    font-size: 3vh;
    margin-left: 0.5vh;
    border-radius: 3px;
    outline: none;
}


td:hover{
	background: gray;
}

td:focus-within{
    background: lightgreen;
}

body{
    margin: 0;
}

#subbody {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(7, 165, 118)
}

nav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

nav a {
    font-family: cursive;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(220, 106, 255);
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


.search-container {
    display: flex;
    flex-direction: row-reverse;
}

nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    border: none;
}

nav .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: red;
    border: none;
    cursor: pointer;
}

.save-button{
    background-color: #000;
    color: white;
    width: 5vw;
    height: 10vh;
    border: none;
    margin: auto;
    box-shadow: 10px 10px 10px gray;
}

.save-button:hover{
    background-color: white;
    color: black;
}

nav .search-container button:hover {
    background: #ccc;
}

.crossword{
    display: flex;
    justify-content: center;
}

#right{
    border-left: none;
}

main{
    display: flex;
    justify-content: space-between;
}

.sizes{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.clues-window{
    display: flex;
    margin: 20px;
}

.clue{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    height: 90vh;
    width: 20vw;
}

.questions{
    height: 95%;
    overflow-y: scroll;
    padding: 5px;
}

.question{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question textarea{
    width: 95%;
    margin: 5px;
    overflow: hidden;
    overflow-wrap: break-word; 
    resize: none;
}

.question p{
    width: 95%;
    margin: 5px;
    border: 1px solid #000;
    cursor: help;
}

.emptyCell{
    background: black;
}

.wrongLetter
{
    color: red;
}

.notWrongLetter{
    color: green;
}

.clue-header{
    border-bottom:1px solid #000;
}

.questions span {
    width: 7%;
    cursor: default;
    text-align: left;
    margin-right: 5px;
}

label{
    font-family: cursive;
    font-size: xx-large;
    text-shadow: 0px 10px 10px white;
}

.logreg-form{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
    margin: 25vh auto;
    justify-content: space-around;
    background-color: #272E38;
}

.input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    width: 40%;
    margin: auto;
    border-bottom: 2px solid rgb(7, 165, 118);
    background-color: transparent;
}

.input-wrapper:focus-within{
    border-color: orange;
}

.logreg-input{
    height: 5vh;
    margin: auto;
    border: none;
    color: floralwhite;
    background-color: transparent;
    outline: none;
}

.logreg-input:hover::placeholder{
        color: yellow;
}


.logreg-button{
    height: 5vh;
    width: 40%;
    margin: auto;
    background: red;
    border: none;
    cursor: pointer;
}

.logreg-button:hover{
    box-shadow: 2px 2px 2px rgb(7, 165, 118);
}

.logreg-button:active{
    background-color: rgb(7, 165, 118);
}

.logreg-a{
    color: white;
    margin: auto;
}

.logreg-a:hover{
    color: rgb(7, 165, 118);
}

.logreg-form .input-wrapper:before {
    font-family: FontAwesome;
    margin: auto;
    font-size: 5vh;
    color: rgb(7, 165, 118);
  }

.logreg-form .input-wrapper:nth-child(1):before {
    content: "\f007";
  }

.logreg-form .input-wrapper:nth-child(2):before {
    content: "\f023";
}

.logreg-form .input-wrapper:nth-child(3):before {
    content: "\f023";
}

.findQuestion
{
    background-color: yellow;
}

@media (max-width: 1300px){

    *{
        font-size: 2vw;
    }
    main{
        flex-direction: column;
    }

    .crossword{
        flex-direction: column;
    }

    .questions{
        overflow-y: auto;
    }
    
    .clue{
        width: 50vw;
    }

    table{
        margin: auto;
    }
    td{
        width: 50px;
        height: 50px;
    }

    .sizes{
        width: auto;
        flex-direction: row;
        justify-content: space-around;
    }


    td b {
        font-size: 2vw;
    }
    
    td input[type=text]{
        font-size: 3vw;
        margin-left: 0.5vw;
    }

    .save-button{
        order: -1;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 15vw;
        height: 5vw;
    }

    .logreg-form{
        width: 70vw;
        height: 40vh;
    }

    .logreg-form .input-wrapper:before {
        font-size: 5vw;
    }

    .input-wrapper{
        width: 50%;
    }

    .logreg-button{
        width: 50%;
    }
}
